# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Media & Static (optional if large)
media/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store
