{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
{% endif %}

<h3>Create Admin</h3>


<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label>Username</label>

<input type="text" name="username" class="form-control">

</div>


<div class="mb-3">

<label>Password</label>

<input type="password" name="password" class="form-control">

</div>


<div class="mb-3">

<label>Role Type</label>

<select name="role_type" class="form-control">

<option value="admin">Admin</option>

<option value="sub_admin">Sub Admin</option>

</select>

</div>
<div class="mb-3">
<label>Assign Under Admin</label>
<select name="parent_admin" class="form-control">
    <option value="">None</option>
    {% for admin in admins %}
        <option value="{{ admin.id }}">{{ admin.username }}</option>
    {% endfor %}
</select>

</div>


<button class="btn btn-success">

Create Admin

</button>

</form>

{% endblock %}