{% extends "base.html" %}

{% block content %}


<div class="container mt-5">

    <div class="card shadow-lg p-4">

        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
        {% endif %}

        <h3>Edit User</h3>
        <hr>
       
        

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" name="username" value="{{ user.username }}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Role</label>
                <select name="role_type" class="form-control">
                    <option value="super_admin" {% if user.role_type == "super_admin" %}selected{% endif %}>Super Admin</option>
                    <option value="admin" {% if user.role_type == "admin" %}selected{% endif %}>Admin</option>
                    <option value="sub_admin" {% if user.role_type == "sub_admin" %}selected{% endif %}>Sub Admin</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Level</label>
                <input type="number" name="level" value="{{ user.level }}" class="form-control">
            </div>

            <div class="mb-3">
            <label class="form-label">Parent Admin</label>

            <select name="parent_admin" class="form-control">
            {% for admin in admin_list %}
            <option value="{{ admin.id }}"
            {% if user.parent_admin and user.parent_admin.id == admin.id %}selected{% endif %}>
            {{ admin.username }}
            </option>
            {% endfor %}
            </select>

            </div>

            <div class="mb-3">
                <label class="form-label">New Password (leave blank to keep current)</label>
                <input type="password" name="password" class="form-control" placeholder="Enter new password if you want to change it">

            </div>

            <div class="form-check mb-3">
                <input type="checkbox" name="is_active_admin" class="form-check-input" id="activeCheck" {% if user.is_active_admin %}checked{% endif %}>
                <label class="form-check-label" for="activeCheck">Active Admin</label>
            </div>

            <button type="submit" class="btn btn-success">Update User</button>

            <a href="{% url 'admin_list' %}" class="btn btn-secondary">Cancel</a>

        </form>

    </div>

</div>

{% endblock %}