<!DOCTYPE html>
<html>
<body>

<h1>Hello World!</h1>
<p>Welcome to my first Django project!</p>

</body>
</html>
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESUME</title>
</head>
<body style="color: rgb(46, 21, 93); background-color: rgb(172, 159, 183);" >
    <b>
    <header>
        <img src="{% static 'Images/RINKU.jpg' %}" alt="Photo" height="100" width="100">
    <h3 style="background-color: rgb(255, 255, 255)">PERSONAL INFORMATION</h3>
    <p>Name: Metaliya Rinku Batukbhai <br>
       Contact No.: 7624015104 <br>
       Email ID: rinkumetaliya3@gmail.com <br>
       Linkedin Profile: <a href ="https://www.linkedin.com/in/rinku-metaliya-39a84b267"> https://www.linkedin.com/in/rinku-metaliya-39a84b267 </a>
    </p>
    </header>

    <h3 style="background-color: rgb(255, 255, 255)">EDUCATIONAL DETAILS</h3>
    <ul>
        <li>
            <p>
                Government Engineering College Rajkot <br>
                Bachelor Of Engineering in Computer Engineering <br>
                CPI:9.89 <br>
            </p>
        </li>
        <li>
            <p>
                Higher Secondary Education <br>
                Jawahar Navodaya Vidyalaya Surendranagar <br>
                Percentage: 89.6 % <br>
            </p>
        </li>
    </ul>
    <h3 style="background-color: rgb(255, 255, 255)">TECHNICAL SKILLS</h3>
    <ul>
        <li>C</li>
        <li>JAVA</li>
        <li>PYTHON</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JAVASCRIPT</li>
        <li>DSA</li>
    </ul>
    <h3 style="background-color: rgb(255, 255, 255)">SOFT SKILLS</h3>
    <ul>
        <li>Team Work</li>
        <li>Communication</li>
        <li>Leadership</li>
        <li>Decision Making</li>
    </ul>
    <h3 style="background-color: rgb(255, 255, 255)">PROJECTS</h3>
    <ul>
        Event Management System<br> 
        Developed a clone web page for event management using HTML,CSS and JavaScript 
    </ul>
    </b>
</body>
</html>