{% extends 'base.html' %}

{% block content %}

<h3>Dashboard</h3>

<div class="row mt-4">

<div class="col-md-3 mb-4">

<div class="card shadow">

<div class="card-body ">

<h5>Total Users</h5>

<h2>{{total_users}}</h2>

</div>

</div>

</div>


<div class="col-md-3 mb-4">

<div class="card shadow">

<div class="card-body">

<h5>Total Super Admins</h5>

<h2>{{total_super_admins}}</h2>

</div>

</div>

</div>


<div class="col-md-3 mb-4">

<div class="card shadow">

<div class="card-body">

<h5>Total Admins</h5>

<h2>{{total_admins}}</h2>

</div>

</div>

</div>


<div class="col-md-3 mb-4">

<div class="card shadow">

<div class="card-body">

<h5>Total Sub Admins</h5>

<h2>{{total_sub_admins}}</h2>

</div>

</div>

</div>


<div class="col-md-3 mb-4">

<div class="card shadow">

<div class="card-body">

<h5>Total Roles</h5>

<h2>{{total_roles}}</h2>

</div>

</div>

</div>

</div>

{% endblock %}