{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.fname }} {{ mymember.lname }}
{% endblock %}

{% block content %}
  <div class="mycard">
    <h1>{{ mymember.fname }} {{ mymember.lname }}</h1>
    {% if mymember.image %}
      <img src="{{ mymember.image.url }}" alt="{{ mymember.fname }}" width="100">
    {% else %}
      <p>No image available.</p>
    {% endif %}
    <br>
    <p>Phone: {{ mymember.phone }}</p>
    <p>Member since: {{ mymember.join_date }}</p>
    <p>Email: {{ mymember.email }}</p>
    <p>Address: {{ mymember.address }}</p>
    
    <br>
    {% if mymember.file %}
      <a href="{{ mymember.file.url }}" target="_blank">Uploaded File</a>
    {% else %}
      <p>No file available.</p>
    {% endif %}
    <br>
    <br>
    <a href="/Myapp">Back to All Members</a>
  </div>
{% endblock %}  

